<div class="container" style="margin-top: 130px;">
  <div class="row">
    <div class="col-lg-2 text-center">
      <img src="assets/icon_pasien.png" style="width: 80px;" />
    </div>
    <div class="col-lg-8">
      <span style="font-size: x-large;">Muhammad Fakhryan Zulfahmi</span><br />
      <span>32 Tahun</span>
      <span class="ml-5">Jl. Bunga Kopi No.1A</span><br />
      <span>Laki - laki</span>
    </div>
    <div class="col-lg-2 text-right">
      <span style="font-size: large;">POLI UMUM</span>
    </div>
  </div>
  <button type="button" class="btn btn-medicode px-4 mt-4">TAMBAH RESEP</button>
  <table class="table table-bordered mt-5">
    <thead>
      <tr>
        <th scope="col">NO</th>
        <th scope="col">Nama Obat</th>
        <th scope="col">Keterangan</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
      </tr>
    </tbody>
  </table>
</div>
