<div>
  <div class="row">
    <div class="col-lg-2 text-center">
      <img src="assets/icon_pasien.png" style="width: 80px;" />
    </div>
    <div class="col-lg-8">
      <span style="font-size: x-large;">Muhammad Fakhryan Zulfahmi</span><br />
      <span>32 Tahun</span>
      <span class="ml-5">Jl. Bunga Kopi No.1A</span><br />
      <span>Laki - laki</span>
    </div>
  </div>
  <button type="button" routerLink="/dokter/tambahresep" class="btn btn-medicode px-4 mt-4">TAMBAH RESEP</button>
  <div class="mt-3">
      <h4 class="mb-3">Resep Obat</h4>
      <div class="row mt-2">
        <div class="col-md-8">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">ID Pasien</th>
                <th scope="col">Nama Pasien</th>
                <th scope="col">Jenis Kelamin</th>
                <th scope="col">Alamat</th>
                <th scope="col">Tanggal Terdaftar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
</div>
