<div>
  <h4>Daftar Pasien</h4>
  <div class="row mt-4">
    <div class="col-md-4">
      <input type="text" class="form-control" />
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-1">
      <button class="submit btn btn-success mb-2 " (click)="tambah()">
        Tambah
      </button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">ID Pasien</th>
            <th scope="col">Nama Pasien</th>
            <th scope="col">Jenis Kelamin</th>
            <th scope="col">Alamat</th>
            <th scope="col">Tanggal Terdaftar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
