<div style="margin-top: 100px; margin-left: 25px;">
  <h5>Daftar Pasien</h5>
  <div class="row mt-4">
    <div class="col-lg-5">
      <form action="" method="post">
        <div class="input-group">
          <input type="text" class="form-control" />
          <div class="input-group-append">
            <i class="fas fa-search"></i>
          </div>
        </div>
      </form>    
    </div>
    <div class="col-lg-7">
      <button type="button" href="#" class="btn btn-medicode float-right btn-md" ><span class="btn btn-labeled"><i class="fas fa-plus"></i></span>Tambah Pasien</button>
    </div>
  </div>
  
  <table class="table table-bordered mt-5">
    <thead>
      <tr>
        <th scope="col">NO</th>
        <th scope="col">ID Pasien</th>
        <th scope="col">Nama</th>
        <th scope="col">Usia</th>
        <th scope="col">Jenis Kelamin</th>
        <th scope="col">Alamat</th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>Usia</td>
        <td>Jenis Kelamin</td>
        <td>Alamat</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
