<div class="container">
  <div class="row">
    <div class="col-lg-2 text-center">
      <img src="assets/icon_pasien.png" style="width: 80px;" />
    </div>
    <div class="col-lg-8">
      <span style="font-size: x-large;">Muhammad Fakhryan Zulfahmi</span><br />
      <span>32 Tahun</span>
      <span class="ml-5">Jl. Bunga Kopi No.1A</span><br />
      <span>Laki - laki</span>
    </div>
    <div class="col-lg-2 text-right">
      <span style="font-size: large;">POLI UMUM</span>
    </div>
  </div>

  <form action="" method="post" style="margin-top: 40px;">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Nama Obat</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="" placeholder="" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Takaran</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="" placeholder="" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Keterangan</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="" placeholder="" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Biaya Lain-lain</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="" placeholder="" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-medicode float-right">
          Tambah Obat
        </button>
      </div>
    </div>
  </form>

  <h3 class="mt-3">Resep Obat</h3>

  <table class="table table-bordered mt-5">
    <thead>
      <tr>
        <th scope="col">NO</th>
        <th scope="col">Nama Obat</th>
        <th scope="col">Takaran</th>
        <th scope="col">Keterangan</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>Otto</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>Thornton</td>
      </tr>
    </tbody>
  </table>
  
  <button type="button" class="btn btn-medicode mt-3 mb-5">Konfirmasi</button>
</div>
