<div class="card">
  <h4>Form Tambah Dokter</h4>
  <form class="form-inline">
    <div class="form-group">
      <label>Nama Dokter</label>
      <input type="text" class="form-control" id="namaDokter" />
    </div>
    <div class="form-group">
      <label>Usia</label>
      <input type="number" class="form-control" id="usiaDokter" />
    </div>
    <div class="form-group">
      <label class="form-group">Jenis Kelamin</label>
      <select id="jenisKelamin">
        <option value="L">Laki - Laki</option>
        <option value="P">Perempuan</option>
      </select>
    </div>
    <div class="form-group">
      <label>Alamat</label>
      <input type="text" class="form-control" id="alamat" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
