<div class="col-md-5">
  <div class="card">
    <div class="card-body">
      <h4>Form Tambah Apoteker</h4>
      <form [formGroup]="apotekerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            formControlName="username"
          />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
          />
        </div>
        <div class="form-group">
          <label>Nama Apoteker</label>
          <input
            type="text"
            class="form-control"
            id="nama"
            formControlName="nama"
          />
        </div>
        <div class="form-group">
          <label class="form-group">Jenis Kelamin</label>
          <select
            id="jenisKelamin"
            class="form-control"
            formControlName="jenisKelamin"
          >
            <option value="L">Laki - Laki</option>
            <option value="P">Perempuan</option>
          </select>
        </div>
        <div class="form-group">
          <label>Alamat</label>
          <input
            type="text"
            class="form-control"
            id="alamat"
            formControlName="alamat"
          />
        </div>
        <button type="submit" class="btn btn-medicode btn-lg btn-block">
          Tambah
        </button>
      </form>
    </div>
  </div>
</div>
