<div class="sidebar-sticky">
  <div class="text-center">
    <img
      src="assets/logo.jpeg"
      width="150px"
      style="margin-top: 100px;"
      class="rounded-circle border border-white"
      style="margin-top: 130px;"
    />
  </div>
  <h3 class="text-center" style="margin-top: 20px;">Admin</h3>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="/dashboard" class="nav-link active" style="color: white;"
        >Dashboard</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="/list-dokter" class="nav-link active" style="color: white;"
        >Dokter</a
      >
    </li>
    <li class="nav-item"><a class="nav-link">Petugas Medis</a></li>
    <li class="nav-item"><a class="nav-link">Pasien</a></li>
    <li class="nav-item"><a class="nav-link">Poli</a></li>
    <li class="nav-item"><a class="nav-link">Petugas Apotek</a></li>
  </ul>
</div>
