<div class="sidebar-sticky">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="/dashboard" class="nav-link active">Dashboard</a>
    </li>
    <li class="nav-item">
      <a routerLink="/list-dokter" class="nav-link active">Dokter</a>
    </li>
    <li class="nav-item"><a class="nav-link">Petugas Medis</a></li>
    <li class="nav-item"><a class="nav-link">Pasien</a></li>
    <li class="nav-item"><a class="nav-link">Poli</a></li>
    <li class="nav-item"><a class="nav-link">Petugas Apotek</a></li>
  </ul>
</div>
