<div class="sidebar-sticky">
  <div class="text-center">
    <img
      src="assets/logo.jpeg"
      width="150px"
      style="margin-top: 5vh;"
      class="rounded-circle border border-white"
    />
  </div>
  <h3
    class="text-center"
    style="margin-top: 20px;font-size: xx-large; font-weight: bold;"
  >
    Admin
  </h3>
  <ul
    class="nav flex-column mt-5"
    style="font-size: x-large; font-weight: bold;"
  >
    <li class="nav-item">
      <a routerLink="/dashboard" class="nav-link active" style="color: white; "
        >Dashboard</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="/list-dokter" class="nav-link active" style="color: white;"
        >Dokter</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLink="/list-petugas-medis"
        class="nav-link active"
        style="color: white;"
        >Petugas Medis</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="/list-pasien" class="nav-link active" style="color: white;"
        >Pasien</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="/list-poli" class="nav-link active" style="color: white;"
        >Poli</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLink="/list-apoteker"
        class="nav-link active"
        style="color: white;"
        >Petugas Apotek</a
      >
    </li>
  </ul>
</div>
