<div>
  <h4>Dashboard</h4>
  <div class="row mt-5">
    <div class="card col-4 mr-4">
      <div class="col-md-6">
        <h5>Jumlah Dokter</h5>
        <h5>Jumlah Petugas Medis</h5>
        <h5>Jumlah Petugas Apotek</h5>
      </div>
      <div class="col-md-4">
        <h5>5</h5>
        <h5>5</h5>
        <h5>5</h5>
      </div>
    </div>
    <div class="card col-4">
      <div class="col-md-6">
        <h5>Jumlah Pasien</h5>
        <h5>Jumlah Poli</h5>
        <h5>Jumlah Obat</h5>
      </div>
      <div class="col-md-4">
        <h5>5</h5>
        <h5>5</h5>
        <h5>5</h5>
      </div>
    </div>
  </div>
</div>
