<div>
  <h4>Dashboard</h4>
  <div class="row">
    <div class="card col-4 mr-4 mt-4 rounded-lg">
      <div class="row mt-5">
        <div class="col-md-2">
          <img src="/assets/icon_dokter.png" alt="" class="img-fluid " />
        </div>
        <div class="col-md-6">
          <h5>Jumlah Dokter</h5>
          <span>Lihat semua</span>
        </div>
        <div class="col-md-4">
          <h5 class="text-right">5</h5>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-2">
          <img src="/assets/nurse.png" alt="" class="img-fluid" />
        </div>
        <div class="col-md-6">
          <h5>Jumlah Petugas Medis</h5>
          <span>Lihat semua</span>
        </div>
        <div class="col-md-4">
          <h5 class="text-right">5</h5>
        </div>
      </div>
      <div class="row mt-5 mb-4">
        <div class="col-md-2">
          <img src="/assets/pharmacist.png" alt="" class="img-fluid" />
        </div>
        <div class="col-md-6">
          <h5>Jumlah Petugas Apotek</h5>
          <span>Lihat semua</span>
        </div>
        <div class="col-md-4">
          <h5 class="text-right">5</h5>
        </div>
      </div>
    </div>
    <div class="card mt-4 col-4 rounded-lg">
      <div class="row mt-5">
        <div class="col-md-2">
          <img src="/assets/icon_pasien.png" alt="" class="img-fluid " />
        </div>
        <div class="col-md-6">
          <h5>Jumlah Pasien</h5>
          <span>Lihat semua</span>
        </div>
        <div class="col-md-4">
          <h5 class="text-right">5</h5>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-2">
          <img src="" alt="" class="" />
        </div>
        <div class="col-md-6">
          <h5>Jumlah Poli</h5>
          <span>Lihat semua</span>
        </div>
        <div class="col-md-4">
          <h5 class="text-right">5</h5>
        </div>
      </div>
      <div class="row mt-5 mb-4">
        <div class="col-md-2">
          <img src="/assets/medicine.png" alt="" class="img-fluid" />
        </div>
        <div class="col-md-6">
          <h5>Jumlah Obat</h5>
          <span>Lihat semua</span>
        </div>
        <div class="col-md-4">
          <h5 class="text-right">5</h5>
        </div>
      </div>
    </div>
  </div>
</div>
